body{
  font-size: 19px;
  font-family: "Litania", "Calluna", calibri, candra, optima, arial, sans-serif;
  color: #black;
  background-image: url(https://images.unsplash.com/photo-1458640904116-093b74971de9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0c236f26de72aaa9e9ca10b4f0ea0cf6);
  background-size: 1500px, 700px;
  background-color: white;
}

.top{
   display:flex;
   font-color:black;
   list-style: none;
 }
.top .nav{
  display:flex;
  flex-direction: row;
   margin-bottom:-3em;
  
}
.nav ul{
  display:flex;
  padding:1em;
}
.nav li{
  display:flex;
  justify-content:space-between;
  padding: 1em;
  
}

h1{
  display: flex;
  border-top: 1em;
  font-size: 2em;
  line-height: 2em;
  justify-content: center;
}
.main{
  display:inline-flex;
  flex-direction:row;
}

.about, .project {
  display: inline-flex;
  position:relative;
  padding-left: 15px;
  padding-right:15px;
  width: 33%;
  align-self: auto;
}

.skills{ 
  display: inline-flex;
  position:relative;
  padding-left: 15px;
  width: 33%
  align-self: auto;
  flex: flex-shrink;
}

.first{
  display:inline-flex;
  position: relative;
  padding-left: 25px;
  padding-right: 15px;

}

.second {
  display:inline-flex;
  position: relative;
  padding-left: 25px;
  padding-right: 15px;

}

h2, h3, h4, {
  font-size: 1.5em;
  line-height:1.2558em;
  margin: 0.4219em, auto, 0.4219em, auto;

}
h5 {
  display: flex;
  font-size: 1em;
  justify-content: flex-start;
}
 .contact {
   font-size: 2em;
   margin-top: -3em;
   display: flex;
   justify-conent:center;
 }

svg {
  padding-top: -2em;
}

svg{
  transition: all .2s ease-in-out;
}
svg:hover {
  transform: scale(1.2);
}

#button {
  display:inline-flex;
  justify-content:flex-start;
  
  
}

button {
 
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 100px;
  height:100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2em;
  align-self:auto
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button :after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  right: 0;
}


.icon {
  position: relative;;
  overflow: hidden;
  width: 150px;
  height: 150px;
  display: inline-flex;

  margin: 10px 0 10px 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-family: sans-serif;
}

/**
 * The "shine" element
 */

.icon:after {
  content: "";
  position: relative;;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(90deg);

  background: rgba(95, 95, 95, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(95, 95, 95, 0.13) 77%,
    rgba(95,95, 95, 0.5) 92%,
    rgba(95, 95, 95, 0.0) 100%
  );
}

/* Hover state - trigger effect */

.icon:hover:after {
  opacity: 5;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

.icon:active:after {
  opacity: 0;
}
