.menu-wrap {
  width:100%;
  box-shadow:0px 1px 3px rgba(0,0,0,1));
  background: #88A6B2;

}

.menu {
  width: 1000px;
  margin:0px auto;


}

.menu li{
  margin:0px
  padding: 0px;
  list-style:none;
  font-family: 'Open Sans' !important;
  color: #403D3E;


}

.menu a {
  transitinon:all linear 0.15s;
  color: #403D3E;

}

.menu li:hover > a, .menu .current-item > a {
  text- decoration:none;
  color:#403D3E;

}

.menu .arrow {
  font-size:11px;
  line-height: 0%;

}

.main {
  width: 0px auto;
  margin:0px auto;

}

.main h1 {
  margin: 20px;
  font-size: 30px;
  color: #B21F0D;
  font-family: 'Open Sans' !important;
  text-align: center;
}


    ul{
        padding: 0;
        list-style: none;
        background: #f2f2f2;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
    ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }
    ul li ul.dropdown{
        min-width: 125px; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }

.about .split h1 {
  margin:20px;
  font-size:30px;
  font-family: 'Open Sans' !important;
  text-align: center;
}

.about .split pre {
  margin: 20px;
  font-size: 15px;
  font-family: 'Open Sans';
  text-align: center;
}

.second .slider img {
  margin: auto 0px;
  width: 1425px;
  height: 500px;
}
